@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html,
body {
	width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: linear-gradient(to right, #d91a0c, #5e9bd5);
}
